select{
    cursor: pointer;
}
textarea.form-control{
    resize: none;
    height: 107px;
}

@media screen and (max-width: 480px) {
    .kv-table-wrap th, .kv-table-wrap td {
        display: table-cell;
        width: inherit !important;
        text-align: left;
        font-size: 1.2em;
    }

    .kv-table-wrap tr > td:first-child {
        border-top: 1px solid #ccc;
        margin-top: 0;
        font-size: 1.2em;
    }
}
.table-responsive.kv-grid-container{
    overflow-y: inherit;
    -moz-transform: scaleY(-1);
    transform: scaleY(-1);
    -o-transform: scaleY(-1);
}
.table-responsive.kv-grid-container>table{
    -moz-transform: scaleY(-1);
    transform: scaleY(-1);
    -o-transform: scaleY(-1);
}
.kv-table-wrap th, .kv-table-wrap td{
    display: table-cell !important;
    font-size: 14px !important;
}

#sidebar-menu ul.side-menu>li:hover{
    background: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}
.grid-view .form-control{
    padding: 5px;
    font-size: 12px;
}
a{
    cursor: pointer;
}
input[type="checkbox"]{
    cursor: pointer;
}
input{
    margin-bottom: 0 !important;
}
.form-group{
    margin-bottom: 15px;
}
@media (max-width: 1541px) {
    .col-md-lg-12 {
        width: 80%;
    }
}
@media (max-width: 1367px) {
    .col-md-lg-12 {
        width: 100%;
    }
}

/* add sorting icons to gridview sort links */
.kv-grid-table thead tr a:after{
    position: relative;
    top: 1px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
    font-size: 10px;
}
.kv-grid-table thead tr a:hover::after{
    color:#23527c !important;
}

.kv-grid-table thead tr a::after {
    content: "\e094";
    color: lightgrey;
}

.kv-grid-table thead tr a.asc:after {
    content: /*"\e113"*/ "\e151"; !important;
    color: #5A738E !important;
}

.kv-grid-table thead tr a.desc:after {
    content: /*"\e114"*/ "\e152"; !important;
    color: #5A738E !important;
}

.selectize-control .selectize-dropdown .selectize-dropdown-content>div{
    padding-left: 10px;
}

.file-thumbnail-footer .file-actions{
    display: none;
}
.file-thumbnail-footer .file-drag-handle{
    display: none;
}

.input-file-div-overhead .close.fileinput-remove{
    display: none;
}

.file-drop-zone-title {
    padding: 65px 10px;
}
.file-thumbnail-footer{
    display: none;
}
.krajee-default.file-preview-frame .kv-file-content{
    height:134px;
    width:auto;
}
.selectize-input{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.selectize-control{
    margin-bottom: -6px;
}
.input-file-div-overhead{
    margin-bottom: 22px;
}

.kv-grid-table td{
    vertical-align: middle !important;
}

.grid-view .table-striped tbody tr.no-active {
    background: #e0e0e0;
    color: #a4a4a4;
}

.grid-view .table-striped tbody tr.no-active a {
    color: skyblue;
}

.grid-view .table-striped tbody tr.no-active a:hover {
    color: #23527c;
}

.grid-view .table-striped tbody tr a.toggle-on {
    color: red;
}

.grid-view .table-striped tbody tr a.toggle-on:hover {
    color: #23527c
}

.grid-view .table-striped tbody tr a.toggle-off {
    color: green;
}

.grid-view .table-striped tbody tr a.toggle-off:hover {
    color: #23527c;
}

.close.fileinput-remove{
    display: none;
}

.select2-container--krajee .select2-selection{
    border-radius: 0;
}
.select2-selection__clear{
    cursor: pointer;
}
.select2-selection.select2-selection--single{
    cursor: pointer;
}

.form-control[disabled], .form-control[readonly]{
    border: 1px solid lightgrey !important;
    cursor: not-allowed;
}


.animation-progress-bar {
    animation: progress 10s linear infinite;
    -moz-animation: progress 10s linear infinite;
    -webkit-animation: progress 10s linear infinite;
    -ms-animation: progress 10s linear infinite;
    -o-animation: progress 10s linear infinite;
    background-image: url('/img/loader.png');
}
@-webkit-keyframes progress {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
@-moz-keyframes progress {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
@-ms-keyframes progress {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
@-o-keyframes progress {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
@keyframes progress {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.multiple-input-list.table-renderer .list-cell__button{
    width:1%;
}

.select2-container .select2-choice{
    border-radius: 0;
}

.file-preview-image.kv-preview-data{
    width: auto;
    height: auto;
    max-width: none;
    max-height: 100%;
}

.table-responsive.kv-grid-container td .select2 .select2-selection__rendered{
    line-height: 22px;
}

.multiple-input{
    margin-top: -4.5px;
}

.select2-selection__choice__remove{
    cursor: pointer;
}

.modal-header{
    padding-bottom: 10px;
}

.modal-header h2{
    margin: 0;
}

.modal-body{
    padding-bottom: 0;
}

.modal-footer{
    padding-bottom: 10px;
}